.main-footer {
    color: white;
    background-color: black;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

.link {
    color: white;
    text-decoration: none;
}

.slika{
  float: right;
  margin-bottom: 20px;
}

.navigacija{
  color: white;
}

#collasible-nav-dropdown{
  color: white;
}


